.website_blue{
    color: #3898F3;
  }
  
  .bg_website_blue{
    background-color: #3898F3;
  }

.website_yellow {
    color: #FACC04
}  

.website_dblue {
    color: #0B2C4E
}

.bg_website_dblue{
    background-color: #0B2C4E;
}