.website_blue {
  color: #376c9c;
}

.bg_website_blue {
  background-color: #376c9c;
}

.website_yellow {
  color: #facc04;
}

.website_dblue {
  color: #0b2c4e;
}

.bg_website_dblue {
  background-color: #0b2c4e;
}

.bg_website_gradient_blue {
  position: relative;
  background: linear-gradient(180deg, #376c9c 0%, #0b2c4e 100%);
}
